<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0</integer>
	<integer>2828</integer>
	<integer>5196</integer>
	<integer>8000</integer>
	<integer>11180</integer>
	<integer>14697</integer>
	<integer>18520</integer>
	<integer>22627</integer>
	<integer>27000</integer>
	<integer>31623</integer>
	<integer>36483</integer>
	<integer>41569</integer>
	<integer>46872</integer>
	<integer>52383</integer>
	<integer>58095</integer>
	<integer>64000</integer>
	<integer>70093</integer>
	<integer>76368</integer>
	<integer>82819</integer>
	<integer>89443</integer>
	<integer>96234</integer>
	<integer>103189</integer>
	<integer>110304</integer>
	<integer>117576</integer>
	<integer>125000</integer>
	<integer>132575</integer>
	<integer>140296</integer>
	<integer>148162</integer>
	<integer>156170</integer>
	<integer>164317</integer>
	<integer>172601</integer>
	<integer>181019</integer>
	<integer>189571</integer>
	<integer>198252</integer>
	<integer>207063</integer>
	<integer>216000</integer>
	<integer>225062</integer>
	<integer>234248</integer>
	<integer>243555</integer>
	<integer>252982</integer>
	<integer>262528</integer>
	<integer>272191</integer>
	<integer>281970</integer>
	<integer>291863</integer>
	<integer>301869</integer>
	<integer>311987</integer>
	<integer>322216</integer>
	<integer>332554</integer>
	<integer>343000</integer>
	<integer>353553</integer>
	<integer>364213</integer>
	<integer>374977</integer>
	<integer>385846</integer>
	<integer>396817</integer>
	<integer>407891</integer>
	<integer>419066</integer>
	<integer>430341</integer>
	<integer>441715</integer>
	<integer>453188</integer>
	<integer>464758</integer>
	<integer>476425</integer>
	<integer>488188</integer>
	<integer>500047</integer>
	<integer>512000</integer>
	<integer>524047</integer>
	<integer>536187</integer>
	<integer>548419</integer>
	<integer>560742</integer>
	<integer>573157</integer>
	<integer>585662</integer>
	<integer>598257</integer>
	<integer>610940</integer>
	<integer>623712</integer>
	<integer>636572</integer>
	<integer>649519</integer>
	<integer>662553</integer>
	<integer>675672</integer>
	<integer>688877</integer>
	<integer>702167</integer>
	<integer>715542</integer>
	<integer>729000</integer>
	<integer>742542</integer>
	<integer>756166</integer>
	<integer>769873</integer>
	<integer>783661</integer>
	<integer>797531</integer>
	<integer>811482</integer>
	<integer>825513</integer>
	<integer>839624</integer>
	<integer>853815</integer>
	<integer>868085</integer>
	<integer>882433</integer>
	<integer>896860</integer>
	<integer>911364</integer>
	<integer>925945</integer>
	<integer>940604</integer>
	<integer>955339</integer>
	<integer>970151</integer>
	<integer>985038</integer>
	<integer>1000000</integer>
</array>
</plist>
