<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>crixus</string>
	<string>easypresentation</string>
	<string>heavenlymonks</string>
	<string>intro</string>
	<string>puzzler</string>
	<string>shiningmoment</string>
	<string>timewarp</string>
</array>
</plist>
