<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Habakkuk 3:19</string>
		<string>The LORD God is my strength, and he will make my feet like hinds&apos; feet, and he will make me to walk upon mine high places…</string>
	</array>
	<array>
		<string>Philippians 1:6</string>
		<string>Being confident of this very thing, that he which hath begun a good work in you will perform it until the day of Jesus Christ.</string>
	</array>
	<array>
		<string>1 Peter 5:8</string>
		<string>Be sober, be vigilant; because your adversary the devil, as a roaring lion, walketh about, seeking whom he may devour.</string>
	</array>
	<array>
		<string>Matthew 7:7</string>
		<string>Ask, and it shall be given you; seek, and ye shall find; knock, and it shall be opened unto you.</string>
	</array>
	<array>
		<string>Proverbs 18:10</string>
		<string>The name of the LORD is a strong tower: the righteous runneth into it, and is safe.</string>
	</array>
	<array>
		<string>2 Timothy 3:16</string>
		<string>All scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for instruction in righteousness.</string>
	</array>
	<array>
		<string>2 Timothy 1:12</string>
		<string>...I am not ashamed: for I know whom I have believed, and am persuaded that he is able to keep that which I have committed unto him against that day.</string>
	</array>
	<array>
		<string>Jeremiah 29:11</string>
		<string>For I know the plans I have for you,&quot; declares the LORD, &quot;plans to prosper you and not to harm you, plans to give you hope and a future.</string>
	</array>
	<array>
		<string>James 1:2-4</string>
		<string>Consider it pure joy, my brothers, whenever you face trials of many kinds,  because you know that the testing of your faith develops perseverance.  Perseverance must finish its work so that you may be mature and complete, not lacking anything.</string>
	</array>
	<array>
		<string>1 Corinthians 13:12</string>
		<string>Now we see but a poor reflection as in a mirror; then we shall see face to face. Now I know in part; then I shall know fully, even as I am fully known.</string>
	</array>
	<array>
		<string>Isaiah 40:31</string>
		<string>But those who hope in the LORD will renew their strength. They will soar on wings like eagles; they will run and not grow weary, they will walk and not be faint.</string>
	</array>
</array>
</plist>
